<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="ExampleHandler.ashx" type="MWexample.Ashx.Handlers.ExampleHandler, MWexample.Ashx" />
      <add verb="*" path="AccountHandler.ashx" type="AccountHandler, MWexample.Ashx" />
      <add verb="*" path="TransferHandler.ashx" type="TransferHandler, MWexample.Ashx" />
      <add verb="*" path="ExchangeRateHandler.ashx" type="ExchangeRateHandler, MWexample.Ashx" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ExampleHandler" path="ExampleHandler.ashx" verb="*" type="MWexample.Ashx.Handlers.ExampleHandler, MWexample.Ashx" resourceType="Unspecified" />
      <add name="AccountHandler" path="AccountHandler.ashx" verb="*" type="AccountHandler, MWexample.Ashx" resourceType="Unspecified" />
      <add name="TransferHandler" path="TransferHandler.ashx" verb="*" type="TransferHandler, MWexample.Ashx" resourceType="Unspecified" />
      <add name="ExchangeRateHandler" path="ExchangeRateHandler.ashx" verb="*" type="ExchangeRateHandler, MWexample.Ashx" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>